<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Menus</title>
</head>

<body>
  <h1>All Menus</h1>

  <div style="margin: 20px 0">
    <a href="/menus/add">Add Menu</a>

    <form action="/menus" method="get">
      <input type="text" name="search" placeholder="Search">
      <input type="submit" value="Search">
    </form>
  </div>


  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% menus.forEach(c=> { %>
        <tr>
          <td>
            <%= c.id %>
          </td>
          <td>
            <%= c.name %>
          </td>
          <td>
            <%= c.formattedPrice %>
          </td>
          <td>
            <%= c.stock %>
          </td>
          <td>
            <%= c.category %>
          </td>
          <td>
            <%= c.createdAt %>
          </td>

          <td>
            <a href="/menus/delete/<%= c.id %>">Delete</a> |
            <a href="/menus/edit/<%= c.id %>">Edit</a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</body>

</html>